<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    verbose="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    executionOrder="random"
>
    <testsuites>
        <testsuite name="FastRoute Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
</phpunit>
