<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    executionOrder="random"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="FastRoute Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
</phpunit>
